<!-- Page extends to template.html -->
{% extends "template.html"%} {% block title %} Post {% endblock %}
<!-- Blog page content -->
{% block content %}
Make a Post

<form method="POST">
    <!-- Blog title form -->
    <label for="title">Post Title</label>
    <input type="text" id="title" name="title" class="form-control" placeholder="Blog Title" />
    <br />

    <!-- Blog content text area -->
     <label for="title">Post Content</label>
    <textarea name="content" id="content" class="form-control"></textarea>

    <br />
    <!-- Submit button -->
    <div align="center">
        <button class="btn btn-primary" type="submit">Create Post</button>
    </div>
</form>

{% endblock %}